nav{
    animation: nav-load 2s ease-in-out;
}

@keyframes nav-load {
    0%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(0);
    }
}