
.carousel-item{
    height:100vh;
    background-color:black;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover ;
}
.container{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20rem;
    margin-right: 10rem;
    text-align: center;
    /* margin-left: 10rem; */
    /* padding-bottom: 500px; */
    font-size: 1rem;
    
}
.overlay-image{
    
    /* height: fit-content; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover ;
    opacity: 0.7;
}
img{
    z-index: 1000;
}