.carousel-indicators .active{
    background-color: #ddd;

}



.carousel-indicators {
   top : relative;
}



h3{
    margin-top: -350px;
    font-size: 40px;
    letter-spacing: 3px;

}

p{
   font-size: 20px;
    letter-spacing: 3px; 
}

#image {
    height: 1080;
    width: auto;
}