@media (min-width: 320px) and (max-width: 690px) {
  #img-wind2::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/wind/wind2.jpg");
  }

  #img-img1::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/wind/img1.jpg");
  }
}
/* @media (min-width: 320px) and (max-width: 425px) {
    .info-text::before {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url("./images/wind/img1.jpg");
    }
  } */
