
/* CSS Reset */
*{
    margin: 0rem;
    padding: 0rem;
}
#navbar{
    display: flex;
    align-items: center;
    background-color: rgb(196, 235, 248);
 
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
#logo{
    margin: 0.3rem 0.3rem;
    /* padding: 0.5rem 0.5rem; */
}
#logo img{
    height: 4.0rem;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    display: block;
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(37, 6, 122);
}
#navbar ul li a:hover{
    background-color: rgb(128, 238, 128);
}



@media screen and (max-width: 640px){
    #navbar{
        flex-direction: column;
    }
    #logo img{
        height: 2.5rem;        
    }
    #navbar ul li{
        list-style: none;
        font-size: 1rem;
    }
    #navbar ul li a{
        display: block;
        padding: 0.4rem 0.5rem;
    }
    #navbar ul{
        justify-content: center;
    }
}